%h1 Community contacts

%p
  For more information, if you&rsquo;d like to help out or to tell us about an
  event you&rsquo;re running, contact one of these people:

%dl.contacts
  -#TODO: Get these from users in the database
  = render "contact", user: User.new(name: "Kerry Buckley", first_name: "Kerry", last_name: "Buckley", email: "kerry.buckley@bt.com"), twitter: "kerryb"
  = render "contact", user: User.new(name: "Anna Kennedy", first_name: "Anna", last_name: "Kennedy", email: "anna.kennedy@bt.com"), twitter: "yedennek"
  = render "contact", user: User.new(name: "Neil Winton", first_name: "Neil", last_name: "Winton", email: "neil.winton@bt.com"), twitter: "ndwinton"
  = render "contact", user: User.new(name: "Paul Moser", first_name: "Paul", last_name: "Moser", email: "paul.moser@bt.com"), twitter: "moserp"
  = render "contact", user: User.new(name: "Adam Whittingham", first_name: "Adam", last_name: "Whittingham", email: "adam.whittingham@bt.com"), twitter: "AdamWhittingham"
