!!!
%html
  %head
    %title Adastral Software Developer Community
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body#adastral-developers
    .fixed
      %nav.top-bar{"data-topbar" => true}
        %ul.title-area
          %li.name.active
            %h1
              =link_to "Adastral Developers", root_path
          %li.toggle-topbar.menu-icon
            %a{href: true}
        %section.top-bar-section
          %ul
            %li.divider
            %li
              = link_to "Contact", page_path(page: "contact")
            %li.divider
        %section.top-bar-section
          %ul.right
            %li.divider
            -if logged_in? && current_user.admin
              %li.admin
                = link_to "Admin", "/admin"
            %li.divider
            -if logged_in?
              %li
                = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=45&d=retro", alt: current_user.email
              %li.has-dropdown.not-click
                = link_to current_user.name, ""
                %ul.dropdown
                  %li
                    = link_to "Log out", logout_path
            -else
              %li
                = link_to "Log in", login_path
    #header-image
      =image_tag "header-small.png", data: {interchange: "[#{image_path 'header-small.png'}, (small)], [#{image_path 'header-medium.png'}, (medium)], [#{image_path 'header-large.png'}, (large)]".html_safe}

    .row
      .column.small-12.medium-6.large-8
        - if flash[:alert]
          .row
            .small-12.columns
              .alert-box.alert.radius
                %i.fi-skull
                = flash[:alert]
                %a.close{href: "#"} &times;
        - if flash[:notice]
          .row
            .small-12.columns
              .alert-box.radius
                %i.fi-info
                = flash[:notice]
                %a.close{href: "#"} &times;
        = yield
      .column.small-12.medium-6.large-4
        .panel.whats-on
          %h2 What&rsquo;s on?
          .event
            .date 27 January, 2&ndash;4 pm
            .title An Emergency Guide to Linux
            .presenter Neil Winton
            .link
              %a{href: "#"} More details
          .event
            .date Tuesdays, 12.30&ndash;1.30 pm
            .title Java dojo
            .presenter Anna Kennedy &amp; Kerry Buckley
            .link
              %a{href: "#"} More details
          .event
            .date Wednesdays, 12.30&ndash;1.30 pm
            .title Ruby dojo
            .presenter Anna Kennedy &amp; Kerry Buckley
            .link
              %a{href: "#"} More details

    = javascript_include_tag "application", "data-turbolinks-track" => true
