!!!
%html
  %head
    %title Adastral Software Developer Community
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body#adastral-developers
    .fixed
      %nav.top-bar{"data-topbar" => true}
        %ul.title-area
          %li.name.active
            %h1
              =link_to "Adastral Developers", root_path
          %li.toggle-topbar.menu-icon
            %a{href: true}
        %section.top-bar-section
          %ul.right
            %li.divider
            -if logged_in?
              %li
                = image_tag "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=45&d=retro", alt: current_user.email
              %li.has-dropdown.not-click
                = link_to current_user.name, ""
                %ul.dropdown
                  %li
                    = link_to "Log out", logout_path
            -else
              %li
                = link_to "Log in", login_path
    #header-image
      =image_tag "header.png"
      - if flash[:alert]
        .row
          .small-12.columns
            .alert-box.alert.radius
              %i.fi-alert
              = flash[:alert]
              %a.close{href: "#"} &times;

    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
